{{ 'section-team.scss' | asset_url | stylesheet_tag }}

{% if section.blocks %}
  <style>
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top_mb }}px;
      padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    }

    @media (min-width: 768px) {
      [data-section-id="{{ section.id }}"] {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  </style>
{% endif %}

<div class="container-section team" data-section-id="{{ section.id }}">
    {% if section.settings.subtitle %}
        <h6 class="team_subtitle">{{ section.settings.subtitle }}</h6>
    {% endif %}
    {% if section.settings.title %}
        <h2 class="team_title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.description %}
        <div class="team_description">{{ section.settings.description }}</div>
    {% endif %}
    {% if section.blocks %}
        <div class="team_items">
            {% for block in section.blocks %}
                <div class="team_item">
                    <div class="team_item-image">
                        <img src="{{ block.settings.image | image_url}}" alt="{{ block.settings.name }}" width="{{ block.image.width }}" height="{{ block.image.height }}"/>
                    </div>
                    <div class="team_item-content">
                        <div class="team_item-name">
                            {{ block.settings.name }}
                        </div>
                        <div class="team_item-social">
                            <p>{{ 'Profession' }}</p>
                            <ul>
                                <li><a target="_blank" href="{{ block.settings.facebook }}">{% render 'icon-facebook-new' %}</a></li>
                                <li><a target="_blank" href="{{ block.settings.instagram }}">{% render 'icon-instagram-new' %}</a></li>
                                <li><a target="_blank" href="{{ block.settings.twitter }}">{% render 'icon-twitter-new' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Our Team",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Section Information"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "header",
            "content": "Section Padding Desktop"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "max": 100,
            "min": 0,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "max": 100,
            "min": 0,
            "default": 0
        },
        {
            "type": "header",
            "content": "Section Padding Mobile"
        },
        {
            "type": "range",
            "id": "padding_top_mb",
            "label": "Padding Top",
            "max": 100,
            "min": 0,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mb",
            "label": "Padding Bottom",
            "max": 100,
            "min": 0,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "header",
                    "content": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Name"
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                },
                {
                    "type": "header",
                    "content": "Social Information"
                },
                {
                    "type": "url",
                    "id": "facebook",
                    "label": "Facebook"
                },
                {
                    "type": "url",
                    "id": "instagram",
                    "label": "Instagram"
                },
                {
                    "type": "url",
                    "id": "twitter",
                    "label": "Twitter"
                }
            ]
        }   
    ],
    "presets": [
        {
            "name": "Our Team",
            "blocks": [
                {
                "type": "item"
                }
            ]
        }
    ]
}
{% endschema %}